* {
    transition: all;
    animation-duration: 1s;
    transition-delay: .1s;
}

body {
     background: #0F172A;
    height: 100%;
    font-family: Inter,sans-serif;
    color: #94a3b8;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #334763;
}
::-webkit-scrollbar-track {
    background: #94a3b8;
}
