/* * {
    transition: all;
    animation-duration: 1s;
    transition-delay: .1s;
} */

body {
    @apply bg-stone-50;
    @apply dark:bg-slate-900;
    @apply text-slate-900;
    @apply dark:text-slate-400;
    @apply h-full;
    font-family: Inter,sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #334763;
    @apply bg-slate-400;
    @apply dark:bg-[#334763];
}
::-webkit-scrollbar-track {
    @apply bg-[#334763];
    @apply dark:bg-slate-400;
}
